{% from "navComponents.html.twig" import navLoggedIn, navEmail, navLoggedOut, navLogout %}


<nav id="desktopnav">
    <ul>
        {% if user %}
            {{ navLoggedIn(user) }}
            <li>{{ navEmail(user) }}</li>
            {{ navLogout() }}
        {% else %}
            {{ navLoggedOut() }}
        {% endif %}
    </ul>
</nav>

<div id="mobiletop">
    <button id="mobilenavbutton" popovertarget="mobilenav">Menu</button>

    {% if user %}
        {{ navEmail(user) }}
    {% endif %}
</div>

<div popover id="mobilenav">
    <nav>
        <ul>
            {% if user %}
                {{ navLoggedIn(user) }}
                {{ navLogout() }}
            {% else %}
                {{ navLoggedOut() }}
            {% endif %}
        </ul>
    </nav>
</div>
