<nav id="desktopnav">
    <ul>
        {% if user %}
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('cart') }}">Cart</a></li>
            <li><a href="{{ path('profile') }}">Profile</a></li>
            <li>
                Email:
                {{ user.email }}
            </li>
            <form method="post" action="{{ path('logout') }}" class="inline-form">
                <button>Log out</button>
            </form>
        {% else %}
            <li><a href="{{ path('index') }}">Watersports</a></li>
            <li><a href="{{ path('login') }}">Login</a></li>
            <li><a href="{{ path('register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>

<div id="mobiletop">
    <button id="mobilenavbutton" popovertarget="mobilenav">Menu</button>

    {% if user %}
        <span>
            Email:
            {{ user.email }}
        </span>
    {% endif %}
</div>

<div popover id="mobilenav">
    <nav>
        <ul>
            {% if user %}
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('cart') }}">Cart</a></li>
                <li><a href="{{ path('profile') }}">Profile</a></li>
                <form method="post" action="{{ path('logout') }}" class="inline-form">
                    <button>Log out</button>
                </form>
            {% else %}
                <li><a href="{{ path('index') }}">Watersports</a></li>
                <li><a href="{{ path('login') }}">Login</a></li>
                <li><a href="{{ path('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
